.google-map {
    padding-bottom: 50%;
    position: relative;
    border-style: outset;
    border-width: 10px;
}
  
.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
  
.building{
    margin-bottom: 100px;
    width: 100%;
}
