body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #666;
}

body {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav article ads"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;  
    grid-template-columns: 20% 1fr 15%;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
}

#pageHeader h2 {
    font-size: 2em;
}

#mainNav { 
    background-color: #f1f1f1;
    padding: 1em;
    grid-area: nav;
}

#mainNav a {
    display: block;
    margin-bottom: 0.5em;
}

article {
    background-color: #fff;
    padding: 1em;
    grid-area: article;
}

#siteAds { 
    background-color: #f1f1f1;
    padding: 1em;
    grid-area: ads;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    grid-area: footer;
    padding: 1em;
}

#siteAds p {
    margin-bottom: 0.5em;
}

@media all and (max-width: 575px) {
    body { 
        grid-template-areas: 
        "header"
        "nav"
        "article"
        "ads"
        "footer";
        grid-template-rows: auto auto 1fr auto 1fr;  
        grid-template-columns: 1fr;
    }
}
