.navbar {
    color: white;
    float: right;
    margin-top: -120px;
  }
  
  .cart {
    position: relative;
    background-color: #fff;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
  }
  
  .cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
  }