/**
* ! Changing default styles of the browser
**/


  
  /**
  * ! Navbar STyles are here
  **/
  
  .navbar {
    color: white;
    float: right;
    margin-top: -120px;
  }
  
  .cart {
    position: relative;
    background-color: #fff;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
  }
  
  .cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
  }
  
  /**
  * ! Shop items styles are here
  **/
  
  .shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    
  }
  
  @media (max-width: 1000px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }
  
  .item {
    border: 5px solid #212529;
    border-radius: 4px;
    height: 670px;
  }

  img{
      width: 213.5px;
      height: 200px;
      margin-top: -20px;
      margin-left: -19px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  .price-quantity {
    text-align: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
    width: 1000px;
  }
  
  .bi-plus-lg {
    content: "\f0c8"; /* Unicode value for a square */
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.5rem;
    color: white;
    background-color: black;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100px;
    transition: all 0.2s ease;
  }

  .bi-plus-lg:hover{
    background-color: green;
  }

  .bi-plus-lg:active {
    animation: shrink 0.2s ease;
  }

  @keyframes shrink {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.8);
    }
  }
  
  /**
  * ! style rules for label and some buttons
  **/
  
  .text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .HomeBtn,
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: green;
  }
  .removeAll {
    background-color: red;
  }
  .bi-x-lg {
    color: red;
    font-weight: bold;
  }
  
  /**
  * ! style rules for shopping-cart
  **/
  
  .shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
  }
  
  /**
  * ! style rules for cart-item
  **/
  
  .cart-item {
    border: 5px solid #212529;
    border-radius: 5px;
    display: flex;
  }
  
  .title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .title-price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
  }

  .quantity{
      color: black;
      font-size: 0.1px;
  }

  .price{
      margin-top: -30px;
      text-align: center;
      margin-left: -20px;
  }

  #add-to-cart{
      width: 200px;
      margin-left: -60.5px;
  }

  #mainArticle{
      overflow-x: hidden;
  }

  #mainArticle::-webkit-scrollbar {
    width: 0.5em;
  }
  
  #mainArticle::-webkit-scrollbar-thumb {
    background-color: #e1f2fe;
    border-radius: 0.5em;
  }

  .description{
      width: 200px;
      margin-left: -40px;
  }